{% extends "layout.html" %}

{% block title %}
    Buy stocks
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <p><h1>Buy a stock</h1></p>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Stock symbol" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="shares" type="number" min="1" step="1">
        </div>
        <button class="btn btn-primary" type="submit">Buy Stock</button>
    </form>
{% endblock %}
